// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

@mixin theme-light {
  // TODO: Adjust.
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #3f00d2;
  --color-visited-link: #3f00d2;

  --sidebar-background: #b3e2e0db;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;

  /* Set sans-serif & mono fonts */
  --sans-font: "Roboto", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
               "Nimbus Sans L", "Noto Sans", "Segoe UI", Arial, Helvetica,
               "Helvetica Neue", sans-serif;
  --mono-font: "Roboto Mono", Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --brand-font: "Dongle", var(--sans-font);
  --standard-border-radius: 10px;

  --bg: #edf6f7aa;
  --accent-bg: transparent;
  --accent: #3f00d2;
  --accent-hover: #3f00d2;
  --brand: #7f1373;
  --brand-desaturated: #4f4f4f;
  --backdrop: linear-gradient(0deg, #437f7c 0%, #e2f4f8 100%);
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

