
.book-menu-content {
    @include smooth;
}

.book-menu {
    @include smooth;
}

.book-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  min-height: 100vh;
  overflow: visible;

  .book-menu-content {
    width: $menu-width;
    padding: $padding-16;
    background: var(--sidebar-background);
    min-height: 100%;
    border-radius: 20px;
    min-height: 100vh;
  }

  a,
  label {
    color: inherit;
    cursor: pointer;
    word-wrap: break-word;
  }

  a.active {
    color: var(--color-link);
  }

  input.toggle + label + ul {
    display: none;
  }

  input.toggle:checked + label + ul {
    display: block;
  }

  input.toggle + label::after {
    content: "▸";
  }

  input.toggle:checked + label::after {
    content: "▾";
  }

  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 1em 0;
      position: relative;
    }
    a {
      display: block;
    }
    a:hover {
      opacity: 0.5;
    }
    ul {
      padding-inline-start: $padding-16;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  #menu-control {
    display: inline;
  }

  .book-menu {
    margin-right: -$menu-width - $main-padding;
    font-size: $font-size-base;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }

  #menu-control:focus ~ main label[for="menu-control"] {
    @include outline;
  }

  #menu-control:checked ~ main {
    .book-menu {
      visibility: initial;
    }

    .book-menu .book-menu-content {
      transform: translateX(-$menu-width - $main-padding);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .book-page {
      opacity: 0.25;
    }

    .book-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu .book-menu-content {
    padding: $padding-16 * 2 $padding-16;
  }
}
